@import url("reset.css") all;
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css") all;
@import url("https://fonts.googleapis.com/css?family=Catamaran:100") all;


html,body{
	width: 100%;
	height: 100%;
	font-family: 'Catamaran', sans-serif;
	color: #fff;
}
.page{
	background: url("https://source.unsplash.com/category/nature/1280x720") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}
.main{
	background-color: rgba(0,0,0,0.4);
	width: 350px;
	height: 100%;
	letter-spacing: 0.03cm;
}
.header{
	text-align: center;
	position: relative;
	top: 30%;
}
.name{
	font-size: 2.7em;
    color: rgba(255,255,255,0.95);
    margin-bottom: 18px;
}
.description{
	color: rgba(255,255,255,0.9);
	font-size: 1.3em;
}
.footer{
	margin-left:calc(50% - 115px);
}
ul{
	position:absolute;
	bottom:5%;
}
ul > li{
	float:left;
	margin-right: 15px;
	font-size:2em;
}
ul > li > a{
	color: rgba(255,255,255,0.85);
	text-decoration:none;
	text-shadow: none;
	transition: 0.3s text-shadow;
}
ul > li > a:hover{
	text-shadow: rgba(255, 255, 255, 0.7) 0px 0px 8px;
}
ul > li > a:active{
	text-shadow: rgba(255, 255, 255, 0.8) 0px 0px 10px;
}
@media screen and (max-width: 850px) {
	.main{
		width: 100%;
	}
	.name{
		font-size: 3em;
	}
	.description{
		font-size: 1.6em;
	}
	ul > li{
		font-size: 2.5em;
    	margin-left: 5px;
	}
	.footer{
	margin-left:calc(50% - 145px);
	}
}
@media screen and (max-width: 400px){
	.name{
		font-size: 2.7em;
	}
	.description{
		font-size: 1.3em;
	}
}
